<div class="container" style="text-align: center;">
  
    <!-- <app-counter></app-counter> -->

    <hr>  
    <!-- <app-home></app-home> -->
    <app-header></app-header>  
 <!-- <router-outlet></router-outlet>  -->
    
        <!-- <app-user></app-user> -->
</div>

<div class="main" style="text-align: center;">

    <!-- <app-custom-counter-input></app-custom-counter-input> -->

    <router-outlet></router-outlet> 

</div>


<router-outlet></router-outlet> 


<div>
    <!-- <app-myform></app-myform> -->
</div>

<div>
    <!-- <app-mylogin></app-mylogin> -->
</div>
